# Lecture 5.1
Importing and and initial exploration of a dataset

In [1]:
import pandas as pd                       #we need pandas for this!
data = pd.read_csv('Lecture5.1-horses.csv')          #this will only work if horses.csv is in the directory where I'm working

In [2]:
data.head()      #experiment with putting different numbers in the () and see what happens; e.g. data.head(10)

,name,price,sex,height,color,location,markings,weight,foaldate,registrations,disciplines,temperament
0,Captain,5000.0,Gelding,14.212,Dun,"Nantucket, Massachusetts",NaN,NaN,4-May,Norwegian Fjord Horse Registry (04-6018-G),Beginner/Family Cowboy Mounted Shooting Trai...,1.005
1,Eternal Goodness,8500.0,Gelding,16.205,Chestnut,"Brooklyn, Connecticut",NaN,NaN,3-May,JC - Jockey Club (),Jumper (Competed or Shown) Hunter (Competed or...,1.010
2,Dustys Fly Boy,15000.0,Gelding,15.192,Grulla,"Dallas, Texas",NaN,1200 pounds,6-Apr,AQHA - American Quarter Horse Association (484...,Beginner/Family (Champion) Youth/4-H Horse (Ch...,1.012
3,A FEDERAL HOLIDAY,8500.0,Mare,14.999,Grey,"HOLSTEIN, Iowa","star, strip, & snip. 3 white socks.",NaN,5-Apr,AQHA - American Quarter Horse Association (),Western Pleasure (Show) (Competed or Shown) Yo...,1.013
4,WIMPYS TRADITIONSTEP,15000.0,Gelding,14.999,Palomino,"HOWELL, Michigan",NaN,1000 pounds,9-Apr,AQHA - American Quarter Horse Association (526...,Youth/4-H Horse (Trained) Ranch Horse (Trained...,1.013

In [3]:
data.dtypes    #show types of each variable; but how to know this is the code? We tell you, or you SEARCH LIKE MAD

name              object
price            float64
sex               object
height           float64
color             object
location          object
markings          object
weight            object
foaldate          object
registrations     object
disciplines       object
temperament      float64
dtype: object

In [4]:
data.shape      #one of my first go-tos when working with new data. This shows (rows, columns)

(959, 12)

In [5]:
data.describe()   #show common descriptive statistics for all numeric variables

               price      height  temperament
count     959.000000  959.000000   959.000000
mean     7439.958290   14.860921     3.402208
std     13278.614627    1.836368     1.513152
min         0.000000    0.015000     1.005000
25%      1500.000000   14.287000     2.216000
50%      4000.000000   15.182000     3.219000
75%      8500.000000   16.006000     4.286000
max    180000.000000   18.200000     9.000000

In [6]:
data['price'].describe()   #show common descriptive statistics for just the specified variable 'price'

count       959.000000
mean       7439.958290
std       13278.614627
min           0.000000
25%        1500.000000
50%        4000.000000
75%        8500.000000
max      180000.000000
Name: price, dtype: float64

In [7]:
data['color'].describe()   #I actually can use describe for string variables; notice the different output

count     959
unique     18
top       Bay
freq      278
Name: color, dtype: object

In [8]:
data['color'].value_counts()     #I happen to love 'value_counts' for categorical variables

Bay              278
Chestnut         147
Grey             100
Sorrel            93
Black             89
Palomino          45
Buckskin          41
Pinto             36
Brown             32
Dun               31
Roan              24
Other             19
White              8
Cremello           6
Grulla             4
Silver Dapple      4
Perlino            1
Champagne          1
Name: color, dtype: int64

In [9]:
data['name'].value_counts()  #not as useful for all variables, but I guess interesting there are some repeat names

Sonny                3
Rosie                3
Spirit               3
Jerry                2
Smart Badger Boy     2
                    ..
Caliente             1
COUNTESS TRUCKEE     1
Okjen's Phillippe    1
Elvis                1
LEGEND               1
Name: name, Length: 908, dtype: int64

In [10]:
data['price'].mean()    #find the mean of just 'price'

7439.958289885297

# Tip:
To find out more about this syntax you can explore what [others have written](https://www.geeksforgeeks.org/python-pandas-dataframe-mean/) or [original documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html).

In [11]:
data.sort_values(by='price')     #let's find out the most expensive horse!! Sort the dataset by 'price'

,name,price,sex,height,color,location,markings,weight,foaldate,registrations,disciplines,temperament
380,Detailed to the Max,0.0,Gelding,16.086,Bay,"St. Marys, Ontario, Canada",star,NaN,4-May,AQHA - American Quarter Horse Association (),Horsemanship (Trained) Western Pleasure (Show)...,3.052
920,Bandera,0.0,Mare,17.004,Bay,"Dixon, California","blaze, sock, belly spot, half blue eye",NaN,4-Apr,NaN,Dressage (Competed or Shown),6.276
406,Jay,0.0,Gelding,15.102,Bay,"Weathersfield, Vermont",NaN,NaN,7-May,AMHA - American Morgan Horse Association (),Companion Only,3.096
673,Talk of the Town aka Libby,0.0,Mare,14.204,Roan,"Saluda, Virginia","Blaze, Roan Spots, Tobiano",NaN,8-Jun,NaN,Hunter (Champion) Equitation (Champion) Lesson...,4.198
141,RC,0.0,Gelding,14.288,Bay,"Somerville, Alabama",Stripe,NaN,Jan-90,NaN,Not Applicable,2.031
...,...,...,...,...,...,...,...,...,...,...,...,...
383,Condor,85000.0,Gelding,17.099,Black,"Wellborn, Florida",NaN,1500 pounds,7-May,AHHA (American Holsteiner Horse Association) (),Eventing (Trained) Dressage (Trained) Hunter (...,3.058
739,Feldmark,90000.0,Gelding,16.318,Chestnut,"vista, California","four white socks, thin blaze",1100 pounds,Feb-99,NaN,Dressage (Competed or Shown) Trail Horse (Trai...,4.315
669,Black stallion ideal competition horse for ama...,100000.0,Stallion,16.998,Black,"Dresden,",NaN,NaN,7-Mar,NaN,Dressage,4.187
345,Urama *Fence Dancers Sport Horse Farm*,175000.0,Mare,17.091,Bay,"Pilesgrove, New Jersey",4 white socks,NaN,2-Feb,KWPN - Dutch Warmblood Studbook in North Ameri...,Dressage (Champion) Equitation (Champion) Jump...,2.387
844,GSP gelding ideal für amateur or youn rider,180000.0,Gelding,16.203,Brown,"Dresden,",NaN,NaN,4-Apr,NaN,Dressage (Champion),5.262

In [12]:
data.sort_values(by='price').head()  #eep, that was too many rows for my taste. We can add the head() syntax here

,name,price,sex,height,color,location,markings,weight,foaldate,registrations,disciplines,temperament
380,Detailed to the Max,0.0,Gelding,16.086,Bay,"St. Marys, Ontario, Canada",star,NaN,4-May,AQHA - American Quarter Horse Association (),Horsemanship (Trained) Western Pleasure (Show)...,3.052
920,Bandera,0.0,Mare,17.004,Bay,"Dixon, California","blaze, sock, belly spot, half blue eye",NaN,4-Apr,NaN,Dressage (Competed or Shown),6.276
406,Jay,0.0,Gelding,15.102,Bay,"Weathersfield, Vermont",NaN,NaN,7-May,AMHA - American Morgan Horse Association (),Companion Only,3.096
673,Talk of the Town aka Libby,0.0,Mare,14.204,Roan,"Saluda, Virginia","Blaze, Roan Spots, Tobiano",NaN,8-Jun,NaN,Hunter (Champion) Equitation (Champion) Lesson...,4.198
141,RC,0.0,Gelding,14.288,Bay,"Somerville, Alabama",Stripe,NaN,Jan-90,NaN,Not Applicable,2.031

In [13]:
data.sort_values(by='price', ascending=False).head() #we want to know the most expensive, this sorts high to low

,name,price,sex,height,color,location,markings,weight,foaldate,registrations,disciplines,temperament
844,GSP gelding ideal für amateur or youn rider,180000.0,Gelding,16.203,Brown,"Dresden,",NaN,NaN,4-Apr,NaN,Dressage (Champion),5.262
345,Urama *Fence Dancers Sport Horse Farm*,175000.0,Mare,17.091,Bay,"Pilesgrove, New Jersey",4 white socks,NaN,2-Feb,KWPN - Dutch Warmblood Studbook in North Ameri...,Dressage (Champion) Equitation (Champion) Jump...,2.387
669,Black stallion ideal competition horse for ama...,100000.0,Stallion,16.998,Black,"Dresden,",NaN,NaN,7-Mar,NaN,Dressage,4.187
739,Feldmark,90000.0,Gelding,16.318,Chestnut,"vista, California","four white socks, thin blaze",1100 pounds,Feb-99,NaN,Dressage (Competed or Shown) Trail Horse (Trai...,4.315
383,Condor,85000.0,Gelding,17.099,Black,"Wellborn, Florida",NaN,1500 pounds,7-May,AHHA (American Holsteiner Horse Association) (),Eventing (Trained) Dressage (Trained) Hunter (...,3.058

# Tip:
Again, you can explore pandas documentation on sorting a dataset by a particular variable [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html). Or have a look at other blog-type sources [here](https://kite.com/blog/python/pandas-sort-values/). Or, if you dare: [stack overflow](https://stackoverflow.com/questions/16958499/sort-pandas-dataframe-and-print-highest-n-values)! (Stack overflow is probably overkill for a relatively straightforward/standard/common task, but useful for more complicted work and thus worth getting comfortable with. Read more about what stack overflow is [here](https://stackoverflow.com).)